
@using Tengella.Survey.WebApp.Views.Survey
@model Tengella.Survey.Data.Models.Survey

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Survey</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var minFields = 2;
            var maxFields = 10;

            var updateButtonStates = function () {
                $('.textFieldSet').each(function () {
                    var textFieldCount = $(this).find('.textField').length;
                    var addButton = $(this).find('.addButton');
                    var removeButtons = $(this).find('.removeButton');

                    addButton.prop('disabled', textFieldCount >= maxFields);
                    removeButtons.prop('disabled', textFieldCount <= minFields);
                });
            };

            var updateInitialButtonStates = function () {
                $('.textFieldSet').each(function () {
                    var textFieldCount = $(this).find('.textField').length;
                    var removeButtons = $(this).find('.removeButton');

                    removeButtons.prop('disabled', textFieldCount <= minFields);
                });
            };

            var createAnswerTextField = function () {
                var textFieldHtml = '<div class="textField">';
                textFieldHtml += '<input type="text" name="textFieldSet" placeholder="Enter value">';
                textFieldHtml += '<button class="removeButton">Remove</button>';
                textFieldHtml += '</div>';

                return textFieldHtml;
            }

            updateInitialButtonStates();

            //Q&A set
            $('#addTextFieldSet').click(function () {
                var textFieldSetHtml = '<div class="textFieldSet">';
                textFieldSetHtml += '<input type="text" name="SetHeader" class="headline" value="">';

                for (var i = 0; i < minFields; i++) {
                    textFieldSetHtml += createAnswerTextField();
                }

                textFieldSetHtml += '<button class="addButton" type="button">Add</button>';
                textFieldSetHtml += '<button class="removeTextFieldSetButton type="button"">Remove Text Field Set</button>';
                textFieldSetHtml += '</div>';

                $('#textFieldContainer').append(textFieldSetHtml);
                updateButtonStates();
            });

            $('#addHeader').click(function () { //ADD FREE TEXT QUESTION
                var headerHtml = '<div class="headerSet">';
                headerHtml += '<input type="text" class="headline" value="">';
                headerHtml += '<button class="removeHeaderButton" type="button">Remove Header</button>';
                headerHtml += '</div>';

                $('#textFieldContainer').append(headerHtml);
            });

            $('#textFieldContainer').on('click', '.removeButton', function () {
                $(this).closest('.textField').remove();
                updateButtonStates();
            });

            $('#textFieldContainer').on('click', '.addButton', function () {
                var textFieldHtml = createAnswerTextField();

                $(this).before(textFieldHtml);
                updateButtonStates();
            });

            $('#textFieldContainer').on('click', '.removeTextFieldSetButton', function () { //REMOVE TEXT FIELD
                $(this).closest('.textFieldSet').remove();
                updateButtonStates();
            });

            $('#textFieldContainer').on('click', '.removeHeaderButton', function () { //REMOVE FREE TEXT QUESTION
                $(this).closest('.headerSet').remove();
            });
        });
    </script>
    <style>
        .textFieldSet,
        .headerSet {
            margin-bottom: 10px;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .textField {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div>

        <form method="post">
            <div id="textFieldContainer">
                <!-- Existing text field sets and headers will be appended here -->
            </div>
            <button id="addTextFieldSet" type="button">Add Text Field Set</button>
            <button id="addHeader" type="button">Add Header</button>
        <h2><input asp-for="Name" type="text" class="form-control" id="survName" value="surv">dff</h2>
            <input id="submitSurvey" type="submit" value="SUBMIT NOW">
        </form>
    </div>
</body>
</html>
