@model IEnumerable<Tengella.Survey.Data.Models.Survey>
@{
    ViewData["Title"] = "Surveys";
}
<p><a asp-area="" asp-controller="Survey" asp-action="Create">New Survey</a></p>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                name
            </th>
            <th>
                description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Id
                </td>
                <td width="50%">
                    @obj.Name
                </td>
            </tr>
        }
    </tbody>
</table>