@model Tengella.Survey.Data.Models.Survey
@using Tengella.Survey.Data.Models;
@{
	ViewData["Title"] = "Take Survey";
}

<div class="container">
	<div class="mb-4">
		<h1>@Model.Name</h1>
	</div>

	@foreach (var question in Model.Questions)
	{
		<div class="question-container">
			<div class="mb-4">
				<h3>@question.QuestionText</h3>
				@if (question.Answers.Any())
				{
					<ul class="list-unstyled">
						@foreach (var answer in question.Answers)
						{
							<li>
								<label class="form-check">
									<input type="radio" class="form-check-input" name="question-@question.Id" value="@answer.Id">
									@answer.AnswerText
								</label>
							</li>
						}
					</ul>
				}
				else
				{
					<textarea class="form-control" name="question-@question.Id" rows="3"></textarea>
				}
			</div>
		</div>
	}

	<div class="mb-4">
		<button id="submitSurvey" class="btn btn-primary" type="button">Submit Now</button>
	</div>
</div>