html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.question-container {
    border-radius: 0.25rem;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.05);
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    margin-bottom: 15px;
    cursor: grab;
}
.question-container:active {
    cursor: grabbing;
}

.survey-creation-controls {
    display: flex;
    justify-content: flex-start;
    gap:10px;
    align-items: flex-end;
}

#end-date-container {
    display: flex;
    margin-left: auto;
    font-size: 12px;
}

#end-date-text {
    align-self: flex-end;
}

.container-fluid {
    max-width: 800px;
}
.question-text {
    font-size: 10px;
}

.background-theme-primary {
    background-color: #fffaf5;
}

.background-theme-secondary {
    background-color: #fffdfa;
    border-color: #AD936A;
}
.accent-theme-primary {
    background-color: #AD936A;
    color: #FFFCF7;
}
.accent-theme-secondary {
    background-color: #1E87E6;
    color: #FFFCF7;
}
.gray-extra {
    background-color: #A3A5A6;
}
.bg {
    background-image: url(https://images.eclub.se/images/mio/assets/bg.jpg);
}