html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ecedf2;
}


.card-container {
    border-radius: 0.25rem;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.05);
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    margin-bottom: 15px;
    background-color: #fcfcfa;
    border-color: #AD936A;
    border: solid 1px lightgray;
}

.grab {
    cursor: grab;
}

.grab:active {
    cursor: grabbing;
}

.survey-creation-controls {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-end;
}

#end-date-container {
    display: flex;
    margin-left: auto;
    font-size: 12px;
}

#end-date-text {
    align-self: flex-end;
}

.container-fluid {
    max-width: 1200px;
}

.content-area {
    background-color: #ecedf2;
    height: 100vh;
}

.question-text {
    font-size: 10px;
}

.small-width {
    max-width: 800px;
    margin: 0 auto;
}

.background-theme-secondary {
    background-color: #fcfcfa;
    border-color: #AD936A;
}

.accent-theme-primary {
    background-color: #333333;
    color: #FFFCF7;
}

.accent-theme-secondary {
    background-color: #1E87E6;
    color: #FFFCF7;
}

.gray-extra {
    background-color: #A3A5A6;
}

.table {
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.05);
    border: solid 1px lightgray;
    border-radius: 5px;
    background-color: white;
}

.border-right {
    border-right: solid 1px lightgray;
}

.table thead th {
    background-color: #333333; /* Set your desired background color for header row */
    color: white; /* Set the text color for header row */
}

/* Non-clicked sort icon */
table.dataTable thead .sorting::before,
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc_disabled::before,
table.dataTable thead .sorting_desc_disabled::before,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
    color: gray; /* Set your desired color for non-clicked arrows */
    opacity: 1 !important;
}

/* Active sort icon */
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::after {
    color: white;
    opacity: 1 !important;
}

.survey-info-div {
    min-width: 20%;
}
.nav-item:hover {
    background-color: dimgray;
}
.navbar-brand {
    font-size: 26px;
}